{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block head %}

<style>
    .btn_downlaod {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
    }
    
    /* Darker background on mouse-over */
    .btn_downlaod:hover {
      background-color: RoyalBlue;
    }
    </style>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}


<div class="form-group" style="display:flex;">
    <form method="post" action="{% url 'generate_report' %}" style="display:flex;">

        {% csrf_token %}
        <label style="margin:10px;">Company</label>
        <select name="company_filter" class="form-control" id="company">
            <option value="" selected="">---------</option>
          {% for i in company %}

            <option value="{{ i.id }}">{{ i.company_name }}</option>
          

         {% endfor %}
          </select>

        <label style="margin:10px;display:flex">Date From </label> 
        <input type="date" name="date_from" class="form-control" style="margin:10px;" required>
        <label style="margin:10px;"> To </label> <input type="date" name="date_to" class="form-control" style="margin:10px;" requir
        ed>
        <button type="submit" class="btn_downlaod"><i class="fa fa-download"></i> Download</button>
    
    </form>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Company Name</th>
                                <th>Company Goods Name</th>
                                <th>Goods Company Name</th>
                                <th>Total Bags</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.company.company_name }}</td>
                                <td>{{ i.company_goods.name }}</td>
                                <td>{{ i.goods_company.goods_company_name }}</td>
                                <td>{{ i.total_bag }}</td>
                              
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>






{% endblock content %}